
.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.img1 {
    width: 130px;
    height: 40px;
}
.img2 {
    width: 30px;
    height: 30px;
    transform: translateY(5px)
}
.main .section1 {
    color: white;
    display: flex;
    padding: 10px;
    font-size: 20px;
    border-top: 70px;
    padding-left: 25px;
    padding-top: 50px;
    
}
.section1 {

    display: flex;
    flex-direction: column;
    background-color: rgb(0, 140, 255);


}
.título1{
    text-align: left;
    width: 100%;
    
}
.párrafo1{
    font-size: 11px;
}
.bottom {
    box-sizing: border-box;
    height: 40px;
    margin-right: 18px;
    border-radius: 100px;
    font-size: 15px;
    text-decoration: none;
    background-color: green;
    display: flex;
    justify-content: center;
}
.a {
    text-decoration: none;
    color: white;
    transform: translateY(12px);
}
.parrafo2{
font-size: small;
}
.section2 {
margin-bottom: 30px;
}
.h2 {
    color: black;
    font-size: 30px;
    text-align: center;
    
}
.img3, .img4, .img5, .img6{
    width: 60px;
    height: 60px;
    margin-right: 15px;
    margin-top: 20px;

}
.article1, .article2, .article3, .article4{
    display: flex;
}
.footer{
    background-color: black;
    color: white;
    
}
