
.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 5px;

}

    
.img1 {
    width: 130px;
    height: 40px;

   

}
.img2 {
width: 30px;
height: 30px;
}
.main .section1 {
    background-color: rgb(0, 140, 255);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-size: 25px;
    border-top: 50px;

}
.título1{
    text-align: left;
    
    
    
}
.párrafo1{
    text-align: center;
    
}

.bottom{
  color: aqua;
  font-size: 5px;
  justify-content: center;
}
.parrafo2{
font-size: small;
}


h2 {
    color: black;
}

